
<section class="section bg-home height-100vh" id="home">
 <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
  <div class="bg-overlay"></div>
  <div class="">
      <div class="">
          <div class="container slidero">
              <div class="row">
                  <div class="col-lg-8 offset-lg-2 text-white text-center">
                      <h1 class="home-title">Code Central is a place where I have improved my coding skills from nothing to pretty good. </h1>
                      <p class="padding-t-15 home-desc"></p>
                      <p class="play-shadow margin-t-30 margin-l-r-auto"><a (click)="openWindowCustomClass(content)" class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p>   
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<ng-template #content let-modal>
        <div class="modal-body">
            <youtube-player [videoId]="id" (ready)="savePlayer($event)" height="450" width="780" (change)="onStateChange($event)"
                [playerVars]="playerVars">
            </youtube-player>
        </div>
    </ng-template>

    <!--
            <app-pricing></app-pricing>
            <app-social></app-social>
<app-services></app-services>
<app-about></app-about>
<app-description></app-description>
<app-team></app-team>
<app-testi></app-testi>
<app-getstart></app-getstart>
<app-blog></app-blog>
<app-contact></app-contact>
<app-social></app-social>

    -->