<div class="a">

  <br>
  <br>
  <br>
  <div class="project_container">
  
    <div class="card hoverable">
  
      <div class="card-start">
  
        <h2>Fruit Ninja!</h2>
  
        <div class="project_img">
          <img src="assets/images/fruitninja_logo.png">
        </div>
  
      </div>
  
      <div class="card-content">
  
        <p>
          
        </p>
  
      </div>
  
      <br>
  
      <div class="card-end">
        <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"><h4>fruit ninja</h4></a>
      </div>
  
    </div>
  
   
        
  
    <!--<div class="card">
      <h2>Pinetree Mail</h2>
      <div class="project_img">
        <img src="https://content.justinschaaf.com/pinetree/logos/pt-mail.svg">
      </div>
      <p>
        Pinetree Mail is an indev email app designed to provide
        a consistant user experience between mobile and desktop operating
        systems. Not only can you check emails from all of your accounts
        in one place, but it is also designed with customization in mind.
      </p>
      <br>
      
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/PinetreeDev/PinetreeMail"><h4>Emails sound fun!</h4></a>
    </div>-->
  
    <div class="card hoverable">
  
      <div class="card-start">
  
        <h2>Project 2</h2>
    
        <div class="project_img">
          <img src="https://content.justinschaaf.com/common/logos/js-stylesheet.svg">
        </div>
  
      </div>
      
      <div class="card-content">
  
        <p>
         
        </p>
  
      </div>
  
      <br>
      
      <div class="card-end">
        <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>!</h4></a>
      </div>
  
    </div>
  
  </div>
  </div>