<div class="a">

  <br>
  <br>
  <br>
  <div class="project_container">
  
    <div class="card hoverable">
  
      <div class="card-start">
  
        <h2>Other Websites!</h2>
  
        <div class="project_img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL-XSBAVPr112ySPstEqW6rDfG9EPFQmLFgTAUoii7Z_o8panq5g">
        </div>
  
      </div>
  
      <div class="card-content">
  
        <p>
          I have made other of websites from scratch. Mostly full of silly things and stuff.
        </p>
  
      </div>
  
      <br>
  
      <div class="card-end">
        <a target="_blank" rel="noopener noreferrer" href="https://yamltobot.com"><h4>Websites</h4></a>
      </div>
  
    </div>
  
   
        
  

  
    <div class="card hoverable">
  
      <div class="card-start">
  
        <h2>Unity</h2>
    
        <div class="project_img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSasu1hgxodYIpjhVrqPQKz65KoApR4V6m-in7YUV7pRl6g6Dpt">
        </div>
  
      </div>
      
      <div class="card-content">
  
        <p>
         Unity is a 3-D game-making platform that does what was just read, it makes 3-Dimensional games. 
        </p>
  
      </div>
  
      <br>
      
      <div class="card-end">
        <a target="_blank" rel="noopener noreferrer" href="https://unity.com/"><h4>Unity Home Page</h4></a>
      </div>
  
    </div>
  
  </div>
  </div>